{% extends "base.html" %}  
{% block extra_css %}
<style>
    body { font-family: Arial, sans-serif; text-align: center; }
    img { width: 50%; border: 2px solid black; margin-top: 20px; }
    #alert { font-size: 20px; font-weight: bold; color: red; }
</style>
{% endblock %}
{% block title %}인도(오토바이){% endblock %}  

{% block content %}
<h1>🚨 오토바이 감지 시스템</h1>
    <img src="{{ url_for('video_feed') }}" width="640" height="480">
    <h3 id="alert">감지된 오토바이 없음</h3>
{% endblock %}

{% block extra_js %}
<script>
    function checkAlert() {
        fetch("/alert_status")
            .then(response => response.json())
            .then(data => {
                if (data.motorcycle_detected) {
                    document.getElementById("alert").innerText = "🚨 오토바이 감지!";
                } else {
                    document.getElementById("alert").innerText = "감지된 오토바이 없음";
                }
            });
    }
    setInterval(checkAlert, 2000);
</script>
{% endblock %}