{% extends "base.html" %}
{% block title %} CCTV 페이지 {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<style>
    #cctv-map { 
        height: 500px; 
        width: 100%; 
    }
    .cctv-list {
        max-height: 500px;
        overflow-y: auto;
    }
    .cctv-item {
        cursor: pointer;
        padding: 10px;
        border-bottom: 1px solid #eee;
    }
    .cctv-item:hover {
        background-color: #f0f0f0;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 cctv-list">
            <h3>CCTV 확인</h3>  
        </div>
    </div>
</div>
{% endblock %}
